﻿
@model Homework.MVC.Models.User;

@{
    Layout = null;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
}

<!DOCTYPE html>

<html>
<head>
    <title>Hello</title>
</head>
<body>
<div>
    <form method="post">
        <div>
            <label asp-for="Firstname">Firstname:</label>
            <input asp-for="Firstname" type="text" name="Firstname"/>
        </div>
        <div>
            <label asp-for="Secondname">Secondname:</label>
            <input asp-for="Secondname" type="text" name="Secondname"/>
        </div>
        <div>
            <label>Gender:</label>
            <select asp-for="IsMale">
                <option value="false">Female</option>
                <option value="true">Male</option>
            </select>
        </div>
        <div>
            <input type="submit" value="Submit"/>
        </div>
    </form>
</div>
</body>
</html>