﻿@model List<Homework.MVC.Models.User>

@{
    Layout = null;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
}

<!DOCTYPE html>

<html>
<head>
    <title>Thanks</title>
</head>
<body>
<div>
    <p>Thanks!</p>
</div>
<div>
    <h2>Registered users:</h2>
    <table>
        <tr>
            <th>First name</th>
            <th>Second name</th>
            <th>Gender</th>
        </tr>

        @{
            foreach (var user in Model)
            {
                <tr>
                    <td>
                        @user.Firstname
                    </td>
                    <td>
                        @user.Secondname
                    </td>
                    <td>
                        @if (user.IsMale)
                        {
                            <p>Male</p>
                        }
                        else
                        {
                            <p>Female</p> 
                        }
                    </td>
                </tr>
            }
        }
    </table>
    
    <div>
        <a asp-action="Home" asp-controller="Home">Register again</a>
    </div>
</div>
</body>
</html>